/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: 'Merriweather', 'Inter', 'Arial', 'Helvetica', 'sans-serif';
}

a {
    text-decoration: none;
}
